@use 'sass:map';
@import './../../scss/variables';

.party-logo-link {
  &:hover,
  &:active,
  &:focus {
    img {
      filter: saturate(100%);
    }
  }
  figure {
    margin: 0;
  }
  img {
    width: 120px;
    max-width: 100%;
    @media (min-width: map.get($grid-breakpoints, 'xl')) {
      filter: saturate(25%);
    }
  }
  h3 {
    color: $tis-orange;
    margin-bottom: 0;
  }

  &.hover-bg {
    &,
    &:hover {
      padding-bottom: 0;
      padding-top: 0;
    }
    figure {
      width: 36px;
    }
  }
}
